{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "16.7.0", // React version, default to the latest React stable release
      "flowVersion": "0.53" // Flow version
    },
    "propWrapperFunctions": [
      // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps",
      { "property": "freeze", "object": "Object" },
      { "property": "myFavoriteWrapper" }
    ]
  },
  "rules": {
    "prop-types": [0],
    "react/prop-types": [0],
    "no-unused-vars": [1],
    "no-undef": [0],
    "no-console": [0],
    "no-case-declarations": [1],
    "no-constant-condition": [1],
    "react/no-children-prop": [0],
    "no-irregular-whitespace": [0]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
