# See https://help.github.com/ignore-files/ for more about ignoring files.

# Misc
.DS_Store
.env
env.js
client/cypress/screenshots/
client/cypress/videos/

# Dependencies
node_modules
package-lock.json

# Post processed
app.css

# Development
dist
uploads

# Testing
errorShots

# DB
logfile
pgdata

# Production
toolsio-com-dd8a403a5115.json






# Local Netlify folder
.netlify