# See https://help.github.com/ignore-files/ for more about ignoring files.

# Misc
.DS_Store
#.env

# Dependencies
node_modules
package-lock.json

# Post processed
app.css

# Development
dist
uploads

# Testing
errorShots

# DB
logfile
pgdata

# Production






