body {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 50px;
}

body > section .container {
  padding: 20px 15px 0;
}

.about {
  
}

.container {
  
}
.page {
  
}
.submenu {
  
}
.content {
 
}

.resources {
  
}