<div class="row">
  <div class="col-sm-12">
    <div class="clearfix">
      <div class="pull-right">
        <a href="#projects/new" class="btn btn-primary">Create new project</a>
      </div>
    </div>
    <h1>Projects</h1> 
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody class="projects-list">
        <% _.each(projects, function(project) { %>
        <!-- This isn't great sanitization and you will want something more secure for outputting untrusted data to the page -->
          <tr>
            <td><span class="name"><%= project.get('name') %></span></td>
            <td><span class="date"><%= project.get('date') %></span></td>
            <td><span class="description"><%= project.get('description') %></span></td>
            <td class="text-center">
              <button class="btn btn-info btn-sm edit-project">Edit Project</button>
            </td>
          </tr>  
        <% }); %>

      </tbody>
    </table>
  </div>
</div>  
