<div class="well">

  <dl>
    <dt>Name:</dt>      
    <dd><span class="name"><%= project.get('name') %></span></dd>

    <dt>Date:</dt>
    <dd><span class="date"><%= project.get('date') %></span></dd>
            
    <dt>Description:</dt>
    <dd><span class="description"><%= project.get('description') %></span></dd>
            
    <div class="btn-toolbar m-t-l">
      <button class="btn btn-default"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;View more</button>
      <button class="btn btn-primary edit-project"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit project</button>
    </div>
  </dl>      
</div>