<div class="well">

  <dl>
    <dt>Name:</dt>      
    <dd><span class="name"><%= project.name %></span></dd>

    <dt>Date:</dt>
    <dd><span class="date"><%= project.date %></span></dd>
            
    <dt>Description:</dt>
    <dd><span class="description"><%= project.description %></span></dd>
            
    <div class="btn-toolbar m-t-l">
      <a href="#projects" class="btn btn-default"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Cancel</a>
      <a href=<%= "#projects/edit/"+ project._id %> class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit project</a>
    </div>
  </dl>      
</div>