| Hi <strong>#{firstName}</strong>!
| Thanks for signup your account <strong style="text-transform: capitalize;">#{account}</strong>! Please, click the link to confirm your email.
| <a href=#{confirmationLink}>Confirm email address</a>