// Breadcrump
.ui.breadcrumb .active.section {
  font-weight: 400;
}

.ui.breadcrumb a {
  color: $turquoise;
}

// Header breadcrumb
.ui.fixed.menu.header-breadcrumb {
  margin-top: 48px;
  overflow: hidden;
  padding: 5px 1rem;
  box-shadow: none;
  z-index: 10;
  h2 {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 700;
  }
  h2 .sub.header {
    font-size: 1em;
    margin-top: 2px;
    text-transform: initial;
  }
  .item {
    padding: 5px 0;
  }
  .item:before {
    background: none;
  }
  .ui.breadcrumb div {
    display: inline;
  }
  .ui.breadcrumb .section {
    text-transform: capitalize;
  }
}