// Customize input fields
.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], 
  .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], 
  .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], 
  .ui.form input[type=file], .ui.form input[type=url], .ui.form input[type=number] {
  padding: .567857143em 1em;
  border: 1px solid $light-grey;
  @include border-radius(3px);
  box-shadow: none;
  font-size: 14px;
  &:focus {
    border-color: $turquoise;
    box-shadow: none;
  }
}

// Customize input and select fields
.ui.form select {
  padding: .4em 1em;
}

//Checkbox
.icheckbox_minimal-grey, .iradio_minimal-grey {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(../images/checkbox-radio-grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-grey {
  background-position: 0 0;
}

// Buttons
.ui.button {
  background-color: $medium-grey;
  border-color: $medium-grey;
  &:hover, &.focus {
    background: $dark-medium-grey;
    border-color: $dark-medium-grey;
  }
  font-weight: 600;
  @include border-radius(3px);  
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.ui.primary.button {
  background-color: $turquoise !important;
  border-color: $turquoise !important;
  &:hover, &:focus {
    background-color: $dark-turquoise !important;
    border-color: $dark-turquoise !important;
  }
}

.ui.negative.button {
  background-color: $red;
  border-color: $red;
  &:hover, &.focus {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.ui.positive.button {
  background: $grass;
  border-color: $grass;
  &:hover, &.focus {
    background-color: $dark-grass;
    border-color: $dark-grass;
  }
}

.ui.info.button {
  background: $light-blue;
  border-color: $light-blue;
  &:hover, &.focus {
    background-color: $blue;
    border-color: $blue;
  }
}

.ui.black.button {
  @extend .ui.button;
  color: $white;
  background: $mid-night-blue;
  border-color: $mid-night-blue;
  &:hover, &.focus {
    color: $white;
    background-color: $x-dark-mid-night-blue;
    border-color: $x-dark-mid-night-blue;
  }
}

.ui.primary.basic.button {
  color: $turquoise;
  &:hover {
    color: $white;
    background: $turquoise !important;
  }
}

.ui.negative.basic.button {
  color: $red;
  &:hover {
    color: $white;
    background: $red !important;
  }
}

.ui.positive.basic.button {
  color: $grass;
  &:hover {
    color: $white;
    background: $grass !important;
  }
}

.ui.inverted.button {
  box-shadow: 0 0 0 2px $turquoise inset !important;
  color: $turquoise;
  &:hover, &:active, &:focus, {
    box-shadow: 0 0 0 2px $turquoise inset !important;
    background: $turquoise;
  }
}

.ui.teal.button {
  @extend .ui.primary.button;
}

// Button icons
.ui.icon.primary.button {
  i {
    color: $white !important;
  }
}

// Search button
.search-button {
  padding: 0;
  button {
    background-color: $light-medium-grey;
    border-width: 8px;
    border: none;
    padding: 9px 13px;
  }
}

// dropdown-select
select {
  @include web-appearance(none);
  background: url('../images/up-down-arrow.png') no-repeat 98% 50% !important;
}

.ui.form .field.error select {
  @include web-appearance(none);
  background: url('../images/up-down-arrow-error.png') no-repeat 98% 50% !important;
}

select.date {
  background-position: 93% 50%;
}

// input to link
.button-to-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

// Horizontal form
.ui.form .inline.field>label {
  width: 20%;
}

.ui.form .field > label {
  text-align: left;
}

.ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
  text-align: right;
}

.ui.form .inline.field>select, .ui.form .inline.field>input {
  width: 77%;
}

.ui.form .inline.field>textarea, .ui.form .inline.field>div>input  {
  width: 77%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 1em;
}

.ui.form .inline.field>button, .ui.form .inline.field> .header {
  display: inline-block;
  margin-left: 23% !important;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.ui.form .field.error span {
  display: inherit;
  text-align: left;
}

.ui.form .inline.field.error>span {
  margin-left: 17% !important;
}

/* Extra mall devices (phones, less than 433px) */
@media (max-width: $screen-xs) {
  .ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
    text-align: left;
  }
  .react-datepicker__input-container {
    position: inherit;
    display: table-cell;
  }
  .ui.form .inline.field>button, .ui.form .inline.field> .header {
    margin-left: 0 !important;
  }   
}

/* Small medium devices (tablets, 768px and upto desktops, 991px) */
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
    text-align: left;
  }
  .react-datepicker__input-container {
    position: inherit;
    display: table-cell;
  }
  .ui.form .inline.field>button, .ui.form .inline.field> .header {
    margin-left: 0 !important;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: $screen-sm) {
  
}