// Customize input fields
.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], 
  .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], 
  .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], 
  .ui.form input[type=file], .ui.form input[type=url], .ui.form input[type=number] {
  border: 1px solid $light-grey;
  @include border-radius(3px);
  box-shadow: none;
  padding: .78571429em .78571429em .78571429em;
  line-height: 1em;
  &:focus {
    border-color: $turquoise;
    box-shadow: none;
  }
}

//Checkbox
.icheckbox_minimal-grey, .iradio_minimal-grey {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(../images/checkbox-radio-grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-grey {
  background-position: 0 0;
}

// Buttons
.ui.button {
  background-color: $medium-grey;
  border-color: $medium-grey;
  &:hover, &.focus {
    background: $dark-medium-grey;
    border-color: $dark-medium-grey;
  }
  font-weight: 600;
  @include border-radius(3px);  
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.ui.primary.button {
  background-color: $turquoise !important;
  border-color: $turquoise !important;
  &:hover, &:focus {
    background-color: $dark-turquoise !important;
    border-color: $dark-turquoise !important;
  }
}

.ui.negative.button {
  background-color: $red;
  border-color: $red;
  &:hover, &.focus {
    background-color: $x-dark-red;
    border-color: $x-dark-red;
  }
}

.ui.positive.button {
  background: $green;
  border-color: $green;
  &:hover, &.focus {
    background-color: $dark-green;
    border-color: $dark-green;
  }
}

.ui.info.button {
  background: $light-blue;
  border-color: $light-blue;
  &:hover, &.focus {
    background-color: $blue;
    border-color: $blue;
  }
}

.ui.warning.button {
  background: $light-orange;
  border-color: $light-orange;
  &:hover, &.focus {
    background-color: $orange;
    border-color: $orange;
  }
}

.ui.black.button {
  @extend .ui.button;
  color: $white;
  background: $mid-night-blue;
  border-color: $mid-night-blue;
  &:hover, &.focus {
    color: $white;
    background-color: $x-dark-mid-night-blue;
    border-color: $x-dark-mid-night-blue;
  }
}

.ui.teal.button {
  @extend .ui.primary.button;
}

.ui.basic.button {
  color: $x-light-dark-grey !important;
  box-shadow: 0 0 0 1px $x-light-dark-grey inset!important;
  &:hover {
    color: $dark-grey !important;
    box-shadow: 0 0 0 1px $dark-grey inset!important;
  }
}

.ui.primary.basic.button {
  color: $turquoise !important;
  box-shadow: 0 0 0 1px $turquoise inset!important;
  &:hover {
    color: $dark-turquoise !important;
    box-shadow: 0 0 0 1px $dark-turquoise inset!important;
  }
}

.ui.positive.basic.button , .ui.basic.green.button, .ui.basic.green.buttons .button {
  box-shadow: 0 0 0 1px $green inset!important;
  color: $green!important;
  &:hover {
    box-shadow: 0 0 0 1px $dark-green inset!important;
    color: $dark-green!important;
  }
}

.ui.neutral.basic.button, .ui.basic.blue.button, .ui.basic.blue.buttons .button {
  box-shadow: 0 0 0 1px $blue inset!important;
  color: $blue!important;
  &:hover {
    box-shadow: 0 0 0 1px $dark-blue inset!important;
    color: $dark-blue!important;
  }
}

.ui.negative.basic.button, .ui.basic.red.button, .ui.basic.red.buttons .button {
  box-shadow: 0 0 0 1px $red inset!important;
  color: $red!important;
  &:hover {
    box-shadow: 0 0 0 1px $dark-red inset!important;
    color: $dark-red!important;
  }
}

.ui.basic.warning.button, .ui.basic.orange.button, .ui.basic.orange.buttons .button {
  box-shadow: 0 0 0 1px $orange inset!important;
  color: $orange!important;
  &:hover {
    box-shadow: 0 0 0 1px $dark-orange inset!important;
    color: $dark-orange!important;
  }
}

.ui.basic.turquoise.button, .ui.basic.turquoise.button, .ui.basic.turquoise.buttons .button {
  box-shadow: 0 0 0 1px $turquoise inset!important;
  color: $turquoise!important;
  &:hover {
    box-shadow: 0 0 0 1px $dark-turquoise inset!important;
    color: $dark-turquoise!important;
  }
}

.ui.buttons:not(.vertical)>.basic.button:not(:first-child) {
  margin-left: -1px;
}

// Button icons
.ui.icon.primary.button {
  i {
    color: $white !important;
  }
}

// Right floated input field
.ui[class*="right floated"].input {
  float: right;
  margin-right: 0;
  margin-left: .25em;
}

// dropdown-select
select.ui.dropdown, .ui.selection.dropdown {
  height: auto;
  line-height: 1.2;
  padding: .7571429em 1em;
}

select {
  @include web-appearance(none);
  background: url('../images/up-down-arrow.png') no-repeat 95% 50% !important;
}

.ui.form .field.error select, .ui.input.error select {
  @include web-appearance(none);
  background: url('../images/up-down-arrow-error.png') #FFF6F6 no-repeat 95% 50% !important;
}

select.date {
  background-position: 93% 50%;
}

// input to link
.button-to-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

// Horizontal form
.ui.form .inline.field {
  display: inherit;
}

.ui.form .inline.field > div {
  display: inline-block;
  vertical-align: middle;
}

.ui.form .inline.field > .info.message {
  left: 27%;
}

.ui.form .inline.field>label {
  width: 25%;
  text-align: right;
}

.ui.form .inline.field>select, .ui.form .inline.field>input {
  width: 72%;
}

.ui.form .inline.field>textarea, .ui.form .inline.field>div>input  {
  width: 72%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 1em;
}

.ui.form .inline.field> .header, .ui.form .inline.field>button:first-child, .ui.form .inline.field>a {
  display: inline-block;
  margin-left: 27% !important;
  margin-top: 0;
  margin-bottom: 0;
}
.ui.form .field.error span, .ui.form .input.error span  {
  display: inherit;
  text-align: left;
}

.ui.form .field.error label  {
  color: #9F3A38 !important;
}

.ui.form .inline.field.error>span {
  margin-left: 27% !important;
}

.ui.input.error {
  display: block;
  input {
    background: #FFF6F6 !important;
    border-color: #E0B4B4 !important;
    color: #9F3A38 !important;
  }
  select {
    border-color: #E0B4B4 !important;
    color: #9F3A38 !important;
  }
}

/* Extra mall devices (phones, less than 433px) */
@media (max-width: $screen-xs) {
  .ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
    text-align: left;
  }
  .react-datepicker__input-container {
    position: inherit;
    display: table-cell;
  }
  .ui.form .inline.field>button, .ui.form .inline.field> .header {
    margin-left: 0 !important;
  }   
}

/* Small medium devices (tablets, 768px and upto desktops, 991px) */
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
    text-align: left;
  }
  .react-datepicker__input-container {
    position: inherit;
    display: table-cell;
  }
  .ui.form .inline.field>button, .ui.form .inline.field> .header {
    margin-left: 0 !important;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: $screen-sm) {
  
}