// Background
.background-success {
  background-color: $green;
}

.background-info {
  background-color: $blue;
}

.background-warning {
  background-color: $orange;
}

.background-danger {
  background-color: $red;
}

.background-yellow {
  background-color: $yellow !important;
}

.background-white {
  background-color: $white !important;
}

.background-light-grey {
  background-color: $light-grey !important;
}

.background-xx-light-grey {
  background-color: $xx-light-grey;
}

// Color
.turquoise {
  color: $turquoise !important;
}

.red {
  color: $red !important;
}

.orange {
  color: $orange !important;
}

.green {
  color: $green !important;
}

.blue {
  color: $blue !important;
}

.xx-light-grey {
  color: $xx-light-grey;
}

// Text 
.uppercase {
  text-transform: uppercase !important;
}

// Display
.visible-all-inline-block {
  display: inline-block !important;
}

.visible-all-inline {
  display: inline !important;
}

.visible-all-block {
  display: block !important;
}

// Margins
.mb-0 {
 margin-bottom: 0 !important;
}

.mb-1 {
 margin-bottom: .25rem !important;
}

.mb-2 {
 margin-bottom: .5rem !important;
}

.mb-3 {
 margin-bottom: 1rem !important;
}

.mb-4 {
 margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
 margin-bottom: 3rem !important;
}

.mt-0 {
 margin-top: 0 !important;
}

.mt-1 {
 margin-top: .25rem !important;
}

.mt-2 {
 margin-top: .5rem !important;
}

.mt-3 {
 margin-top: 1rem !important;
}

.mt-4 {
 margin-top: 1.5rem !important;
}

.mt-5 {
 margin-top: 2rem !important;
}

.mt-6 {
 margin-top: 3rem !important;
}

// borders
.border-top-none {
  border-top: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

// alignment
.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  @include transition(2s);
}

.center-block {
  display: table;
}

.horizontal-line-with-text {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid $medium-grey;
   line-height: 0.1em;
   margin: 10px 0 20px;
   span {
    background:#fff;
    padding:0 10px;
  }
}

// Vertical center
.vertical-text-align-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-text-align-element {
  display: table-cell;
  vertical-align: middle;
}

/* Extra small devices (phones, 433px) */
@media (max-width: $screen-xs) {
  
}

/* Small devices (phones, 433px, and upto large phones, 768px) */
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  
}

/* Small devices (phones, less than 768px) */
@media (max-width: $screen-sm) {
 

}

/* Medium devices (phones, less than 992px) */
@media (max-width: $screen-md) {
  
}
