 html {
  position: relative;
  height: inherit;
  min-height: 100%;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: font-url('fonts/OpenSans-Bold.ttf') format('truetype'),
    font-url('fonts/OpenSans-Italic.ttf') format('truetype'),
    font-url('fonts/OpenSans-Light.ttf') format('truetype'),
    font-url('fonts/OpenSans-Regular.ttf') format('truetype');  
}

body {
  background-color: $body-background-color;
  color: $body-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  margin-bottom: 360px;
}

body .internal-page {
  margin-bottom: -140px;
}

// Anchor 
a {
  color: $turquoise;
  &:hover, &:focus {
    color: $dark-turquoise;
  }
}

// UI header
.ui.header {
  color: $body-color;
}

.ui.header> a {
  display: inline-block;
  margin-top: .14285714em;
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}

.ui.header> a+.content {
  padding-left: .75rem;
  vertical-align: middle;
}

// Menu
.hidden.menu {
  display: none;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item  {
  text-transform: uppercase;
  color: $white !important;
  &:hover {
    color: $turquoise !important;
  }
}

.ui.secondary.inverted.pointing.menu .active.item {
  border-color: $turquoise;
  color: $turquoise !important;
}

// Menu
.menu.transition .ui.inverted.button:hover, .ui.inverted.button:active, .ui.inverted.button:focus {
  color: $white;
}

.ui.inverted.menu {
  background: $turquoise;
}

// Container
.ui.container.internal-page {   
  margin-top: 70px;
}

.homepages.landing {
  line-height: 1.9;  
}

// Masthead
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead.segment {
  min-height: 500px;
}    

.masthead {
  background: url("../images/pattern.png"), url("../images/jumbotron.jpg") !important;
  overflow: hidden;
  background-size: cover;
  .ui.text.container {
    margin-top: 86px;
  }
  h1.ui.header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  }
  h5 {
    color: $medium-grey;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    margin-top: 0;
    margin-bottom: 60px;
  }
}

// Stripe
.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.ui.vertical.stripe {
  padding: 4em 0em;
  h3 {
    font-size: 1.5em;
    color: $mid-night-blue;
    margin-top: -30px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 0.875em;
  }
}

.footer.segment {
  padding: 5em 0em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Message
.ui.message {
  background: #ffffff;
}

// UI message
.ui.message p:last-child {
  margin-top: 0;
}

// Flash
.alert {
  border-radius: (3px);
}

.alert-success {
  color: $dark-grass;
  background: $white-grass;
  border-color: $x-light-grass;
}

.alert-warning {
  color: $dark-orange;
  background: $white-orange;
  border-color: $x-light-orange;
}

.alert-danger {
  color: $dark-red;
  background: $white-red;
  border-color: $x-light-red;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.flash_warning {
  @extend .alert-warning;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: $red;
}

.has-error .form-control {
  border-color: $red;
  box-shadow: none;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: 0; 
}

// footer
#footer {
  padding: 10px;
  background-color: $x-dark-mid-night-blue;
  color: $dark-medium-grey;
}

.footer-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -50px;
  height: 55px;
  padding: 7px;
}

body .auth-pages {
  margin-bottom: -340px !important;
}

// Logo
.logo-small {
  width: 95px;
  height: 28px;
}

// Badge
.badge {
  border-radius: 2px;
}

.badge-light-blue, .label-light-blue {
  background-color: $light-blue !important;
}

.badge-orange, .label-orange {
  background-color: $orange !important;
}

// Line break
.x-light-turquoise-hr {
  border-top: 1px solid $x-light-turquoise;
}

.medium-grey-hr {
  border-top: 1px solid $medium-grey;
}

// Thumbnail
.thumbnail {
  @include border-radius(0);
}

// Panel
.ui.segments > .segment, .ui.segment, .ui.message {
  @include border-radius(3px);
  box-shadow: none;
  border: 1px solid $light-grey;
}

.ui.segment.transparent {
  background: transparent;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui.attached.segment {
  border: 1px solid $light-grey;
}

.panel-transparent-header {
  .ui.top.attached.header {
    padding: 0.78571429rem 0;
    background: none;
    border: none;
  }
  .ui.bottom.attached.segment {
    border-top: 1px solid $light-grey;
    @include border-radius(3px);
  }
}

.sub-header {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: $light-grey;
  margin-bottom: 10px;
}

// Progress bar
.progress {
  background-color: $xx-light-grey;
  @include border-radius(2px);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.progress-small {
  height: 10px;
}
.progress .progress-bar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #dc6767;
}

.progress .progress-bar.progress-bar-turquoise {
  background-color: $turquoise !important;
}

.progress .progress-bar.progress-bar-success {
  background-color: $grass !important;
}

.progress .progress-bar.progress-bar-info {
  background-color: $light-blue !important;
}

.progress .progress-bar.progress-bar-danger {
  background-color: $red !important;
}

.progress .progress-bar.progress-bar-warning {
  background-color: $orange !important;
}

// Dropdown
.dropdown-menu {
  min-width: 180px;
}

// Breadcrumb
.breadcrumb > li {
  font-size: 11px;
}

// Description list
dt {
  font-weight: bold;
}

//Image
.img-circle {
  border-radius: 50% !important;
}

.img-rounded {
  border-radius: 3px;
}

// Custome note box
.bs-callout {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  border-left-width: 5px;
  @include border-radius(3px);
  background-color: $white
}

.bs-callout-sm {
  padding: 10px;
  margin-bottom: 10px;
}

.bs-callout-success {
  border-left-color: $grass;
  .heading {
    color: $grass;
  }
}

.bs-callout-info {
  border-left-color: $blue;
  .heading {
    color: $blue;
  }
}

.bs-callout-info-colored {
  border-left-color: $blue;
  background: $white-blue;
  border-color: $blue;
  .heading {
    color: $blue;
  }
}

.bs-callout-warning {
  border-left-color: $orange;
  .heading {
    color: $orange;
  }
}

.bs-callout-warning-colored {
  border-left-color: $orange;
  background: $white-orange;
  border-color: $orange;
  .heading {
    color: $orange;
  }
}

.bs-callout-danger {
  border-left-color: $red;
  .heading {
    color: $red;
  }
}

.well-left-text {
  .pull-left h3, h4, h5 {
    margin-left: 25px;
  }
  .row {
    margin-left: 10px;
  }
}

.well-text-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  span {
    color: $white;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 7px;
    width: 100%;
  }
}

// Custome fieldset and legend
.custom-fieldset {
  border: 1px solid $light-grey !important;
  margin: 15px 2px !important;
  padding: 0.35em 0.625em 0.75em !important;
  .custom-legend {
    width: auto;
    font-size: 13px;
    color: $body-color;
    border-bottom: none;
  }
}

// Padding
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Pagination
.pagination > li > a, .pagination > li > span {
  color: $turquoise;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $turquoise;
  border-color: $dark-turquoise;
}

// Pagination
.pagination {
  margin: 20px 15px;
}

// Sprite
.sprite{
  display: inline-block;
  background: transparent url('../images/sprite.png') no-repeat; 
}

.sprite.invoice {
  height: 48px;
  width: 48px;
  background-position: left top;  
}

.sprite.sale {
  height: 48px;
  width: 48px;
  background-position: -48px top;  
}

.sprite.project {
  height: 48px;
  width: 48px;
  background-position: -96px top;  
}

.sprite.analysis {
  height: 48px;
  width: 48px;
  background-position: -142px top;  
}

.sprite.logo-one {
  height: 100px;
  width: 100px;
  background-position: -191px top;  
}

.sprite.logo-two {
  height: 100px;
  width: 100px;
  background-position: -291px top;  
}

// company logo
.company-logo {
  background: #f7f9fa;
  padding: 10px;
  margin: 0px 0 20px 0;
  text-align: center;
}

#features {
  .sprite {
    float: left;
    margin-right: 20px;
  }
  blockquote {
    overflow: hidden;
    border: none;
  }  
}

#features, #pricing {
  margin-top: 2px;
  box-shadow: 0 -1px 0 rgba(3,139,152,1);
}

#clients {
  margin-bottom: 1px;
  border-bottom: solid 1px rgba(3,139,152,1);
}

#clients, #bottom-cta, #contacts {
  box-shadow: 0 -1px 0 rgba(rgb(228,229,231),1);
}

#testimonials {
  background: url("../images/pattern.png"),url("../images/testimonials.jpg");
  .carousel-indicators {
    margin-bottom: -40px;
  }
  .carousel-indicators li {
    border: 1px solid $turquoise;
    margin-left: 5px;
  }
  .carousel-indicators .active {
    background-color: $turquoise;
  }
  .slide-item p {
    color: $turquoise;
  }
  .slide-item h6 {
    font-weight: 400;
    color: $medium-grey;
  }
  .quote.icon {
    color: $turquoise;
    font-size: 30px;
  }
}

// pricing
.pricing-plan {
  margin: 0 10px 0 10px;
  border-radius: 4px;
  padding-bottom: 20px;
  background: #fff;
  border: 1px solid #e4e5e7;
  padding-left: 0;
  list-style: none;
  li {
    font-size: 0.875em;
    line-height: 1.5;
  }
  li.pricing-title {
    background: $mid-night-blue;
    color: $white;
    padding: 15px 10px 15px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
  }
  li.pricing-desc {
    border-top: none;
    padding: 15px 16px 0px 16px;
  }
  li.pricing-price {
    font-weight: 600;
    font-size: 30px;
    color: $turquoise;
  }
  li {
    padding: 10px 15px;
    text-align: center;
    color: $x-light-dark-grey;
  }
}

.back-to-top {
  width: 40px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: none;
  background: $turquoise;
  opacity: 0.7;
  text-align: center;
  z-index: 10000;
  &:hover {
    background: $light-turquoise;
    text-decoration: none;
  }
  i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px;
    width: inherit;
  }
}

// Animation
.animation-delay-1 {
  @include animation-delay(.1s);
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
}

.animated {
  @include animation-duration(1s);
}

/* Extra small devices (phones, less than 433px) */
@media (max-width: $screen-xs) {

}

/* Small devices (phones, 433px, and upto large phones, 768px) */
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  
}

/* Small devices (phones, less than 768px) */
@media (max-width: $screen-sm) {
  body {
    margin-bottom: 800px;
  }

  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
  .dl-horizontal {
    dt {
      float: left;
      width: 120px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      margin-left: 140px;
    }
  }

}

/* Small medium devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm) and (max-width: $screen-md) {

}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md) and (max-width: $screen-lg) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {

}