 html {
  position: relative;
  height: inherit;
  min-height: 100%;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: font-url('fonts/OpenSans-Bold.ttf') format('truetype'),
    font-url('fonts/OpenSans-Italic.ttf') format('truetype'),
    font-url('fonts/OpenSans-Light.ttf') format('truetype'),
    font-url('fonts/OpenSans-Regular.ttf') format('truetype');  
}

body {
  background-color: $body-background-color;
  color: $body-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  margin-bottom: 360px;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.auth {
  background-color: $body-background-color;
}

.auth .column {
  margin-top: 100px;
  max-width: 450px;
}

.main.container {
  margin-top: 7em;
}

// UI header
.ui.header {
  color: $body-color;
}

.ui.header> a {
  display: inline-block;
  margin-top: .14285714em;
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}

.ui.header> a+.content {
  padding-left: .75rem;
  vertical-align: middle;
}

// UI form
.ui.form .field > label {
  text-align: left;
}

// UI message
.ui.message p:last-child {
  margin-top: 0;
}

a {
  color: $turquoise;
  &:hover, &:focus {
    color: $dark-turquoise;
  }
}

// Flash
.alert {
  border-radius: (3px);
}

.alert-success {
  color: $dark-grass;
  background: $white-grass;
  border-color: $x-light-grass;
}

.alert-warning {
  color: $dark-orange;
  background: $white-orange;
  border-color: $x-light-orange;
}

.alert-danger {
  color: $dark-red;
  background: $white-red;
  border-color: $x-light-red;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.flash_warning {
  @extend .alert-warning;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: $red;
}

.has-error .form-control {
  border-color: $red;
  box-shadow: none;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: 0; 
}

// footer
#footer {
  padding: 10px;
  background-color: $x-dark-mid-night-blue;
  color: $dark-medium-grey;
}

.footer-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -50px;
  height: 55px;
  padding: 7px;
}

// Logo
.logo-small {
  width: 95px;
  height: 28px;
}

// Badge
.badge {
  border-radius: 2px;
}

.badge-light-blue, .label-light-blue {
  background-color: $light-blue !important;
}

.badge-orange, .label-orange {
  background-color: $orange !important;
}

// Line break
.x-light-turquoise-hr {
  border-top: 1px solid $x-light-turquoise;
}

.medium-grey-hr {
  border-top: 1px solid $medium-grey;
}

// Thumbnail
.thumbnail {
  @include border-radius(0);
}

// Navbar
.navbar-nav {
  margin: 0 auto;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

// Font awesome

// Background
.background-success {
  background-color: $grass;
}

.background-info {
  background-color: $blue;
}

.background-warning {
  background-color: $orange;
}

.background-danger {
  background-color: $red;
}

.background-yellow {
  background-color: $yellow !important;
}

.background-white {
  background-color: $white !important;
}

.background-light-grey {
  background-color: $light-grey !important;
}

.background-xx-light-grey {
  background-color: $xx-light-grey;
}

// Color
.turquoise {
  color: $turquoise !important;
}

.xx-light-grey {
  color: $xx-light-grey;
}

// Navpills active
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: $light-mid-night-blue;
  background: $light-grey;
  border: 1px solid $light-mid-night-blue;
}

.nav-pills > li > a { 
  border-radius: 0;
}

// Display
.visible-all-inline-block {
  display: inline-block !important;
}

.visible-all-inline {
  display: inline !important;
}

.visible-all-block {
  display: block !important;
}

// Panel
.ui.segments > .segment, .ui.segment, .ui.message {
  @include border-radius(3px);
  box-shadow: none;
  border: 1px solid $light-grey;
}

.panel-heading, .panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-default {
  border: 1px solid $light-grey;
}

.panel-default > .panel-heading {
  color: inherit;
  background-color: $white;
}

.panel-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

.panel-body {
  padding: 20px;
}

.panel-footer {
  background: $xx-light-grey;
}

.panel-transparent-header {
  background: none;
  border: none;
  .panel-heading {
    background: transparent;
    padding: 10px 0;
  }
  .panel-body {
    background: $white;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }
}

.panel-dark-header-outline {
  .panel-heading {
    border-bottom: 1px solid $black;
  }
}

.panel-turqouise-header-outline {
  .panel-heading {
    border-bottom: 1px solid $turquoise;
  }
}

.panel-success-bottom-outline {
  border-bottom: 2px solid $grass;
}

.panel-info-bottom-outline {
  border-bottom: 2px solid $blue;
}

.panel-warning-bottom-outline {
  border-bottom: 2px solid $orange;
}

.panel-danger-bottom-outline {
  border-bottom: 2px solid $red;
}

.sub-header {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: $light-grey;
  margin-bottom: 10px;
}

// Progress bar
.progress {
  background-color: $xx-light-grey;
  @include border-radius(2px);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.progress-small {
  height: 10px;
}
.progress .progress-bar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #dc6767;
}

.progress .progress-bar.progress-bar-turquoise {
  background-color: $turquoise !important;
}

.progress .progress-bar.progress-bar-success {
  background-color: $grass !important;
}

.progress .progress-bar.progress-bar-info {
  background-color: $light-blue !important;
}

.progress .progress-bar.progress-bar-danger {
  background-color: $red !important;
}

.progress .progress-bar.progress-bar-warning {
  background-color: $orange !important;
}

// Well
.well {
  position: relative;
  background-color: $white;
  border: 1px solid $light-grey;
  @include border-radius(3px);
  box-shdow: none;
  //box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

// Dropdown
.dropdown-menu {
  min-width: 180px;
}

// Breadcrumb
.breadcrumb > li {
  font-size: 11px;
}

// Description list
dt {
  font-weight: bold;
}

//Image
.img-circle {
  border-radius: 50% !important;
}

.img-rounded {
  border-radius: 3px;
}

// Custome note box
.bs-callout {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  border-left-width: 5px;
  @include border-radius(3px);
  background-color: $white
}

.bs-callout-sm {
  padding: 10px;
  margin-bottom: 10px;
}

.bs-callout-success {
  border-left-color: $grass;
  .heading {
    color: $grass;
  }
}

.bs-callout-info {
  border-left-color: $blue;
  .heading {
    color: $blue;
  }
}

.bs-callout-info-colored {
  border-left-color: $blue;
  background: $white-blue;
  border-color: $blue;
  .heading {
    color: $blue;
  }
}

.bs-callout-warning {
  border-left-color: $orange;
  .heading {
    color: $orange;
  }
}

.bs-callout-warning-colored {
  border-left-color: $orange;
  background: $white-orange;
  border-color: $orange;
  .heading {
    color: $orange;
  }
}

.bs-callout-danger {
  border-left-color: $red;
  .heading {
    color: $red;
  }
}

.well-left-text {
  .pull-left h3, h4, h5 {
    margin-left: 25px;
  }
  .row {
    margin-left: 10px;
  }
}

.well-text-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  span {
    color: $white;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 7px;
    width: 100%;
  }
}

// Custome fieldset and legend
.custom-fieldset {
  border: 1px solid $light-grey !important;
  margin: 15px 2px !important;
  padding: 0.35em 0.625em 0.75em !important;
  .custom-legend {
    width: auto;
    margin-bottom: 15px;
    font-size: 13px;
    color: $body-color;
    border-bottom: none;
  }
}

// Padding
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Pagination
.pagination > li > a, .pagination > li > span {
  color: $turquoise;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $turquoise;
  border-color: $dark-turquoise;
}

// Pagination
.pagination {
  margin: 20px 15px;
}

// Margins
.m-t-n {
 margin-top: 0 !important;
 padding-top: 0 !important;
}

.m-b-n {
 margin-bottom: 0 !important;
}

.m-t-xxs {
 margin-top: 3px !important;
}

.m-t-xs {
 margin-top: 5px !important;
}

.m-b-xxs {
 margin-bottom: 3px !important;
}

.m-b-xs {
 margin-bottom: 5px !important;
}

.m-t-s {
 margin-top: 10px !important;
}

.m-b-s {
 margin-bottom: 10px !important;
}

.m-t-m {
 margin-top: 15px !important;
}

.m-b-m {
 margin-bottom: 15px !important;
}

.m-t-l {
 margin-top: 20px !important;
}

.m-b-l {
 margin-bottom: 20px !important;
}

.m-t-xl {
 margin-top: 30px !important;
}

.m-b-xl {
 margin-bottom: 30px !important;
}

.no-margins {
 margin: 0 !important;
}

// borders
.border-top-no {
  border-top: none !important;
}

.border-bottom-no {
  border-bottom: none !important;
}

// alignment
.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  @include transition(2s);
}

.center-block {
  display: table;
}

.horizontal-line-with-text {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid $medium-grey;
   line-height: 0.1em;
   margin: 10px 0 20px;

   span {
    background:#fff;
    padding:0 10px;
  }
}

// Vertical center
.vertical-center {
  position: absolute; // Remember to give parent container position relative
  top: 50%;
  @include transform-translate(-50%);
}

/*.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
/*  min-height: 10vh; /* These two lines are counted as one :-)       */

/*  display: flex;
    align-items: center;
  } */

.vertical-center-small {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 5vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

// Sprite
.sprite{
  display: inline-block;
  background: transparent url('../images/sprite.png') no-repeat; 
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Extremely very extra small devices (phones, less than 480px) */
@media (max-width: $screen-xxxs-max) {
  .visible-xxxs {
    display: inline-block !important;
  }
  .hidden-xxxs {
    display: none;
  }
}

/* Very extra small devices (phones, 320px, and upto small phones, 480px) */
@media (min-width: $screen-xxs-min) and (max-width: $screen-xxs-max) {
  .visible-xxxs {
    display: none;
  }
}

/* Very extra small devices (phones, less than 480px) */
@media (max-width: $screen-xxs-max) {
  .visible-xxs {
    display: inline-block !important;
  }
  .hidden-xxs {
    display: none;
  }
}

/* Extra small devices (phones, 480px, and upto large phones, 768px) */
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .visible-xxxs {
    display: none;
  }
  .visible-xxxs {
    display: none;
  }
  .visible-xxs {
    display: none;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  .visible-xxs {
    display: none;
  }
  .navbar-default .navbar-toggle {
    border-color: $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-right {
    margin-right: 0;
  }
  .dl-horizontal {
    dt {
      float: left;
      width: 120px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      margin-left: 140px;
    }
  }

}

/* Small devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}