 html {
  position: relative;
  height: inherit;
  min-height: 100%;
}

// @font-face {
//   font-family: 'Open Sans', sans-serif;
//   src: font-url('fonts/OpenSans-Bold.ttf') format('truetype'),
//     font-url('fonts/OpenSans-Italic.ttf') format('truetype'),
//     font-url('fonts/OpenSans-Light.ttf') format('truetype'),
//     font-url('fonts/OpenSans-Regular.ttf') format('truetype');  
// }

body {
  background-color: $body-background-color;
  color: $body-color;
  // font-family: 'Open Sans', sans-serif;
  // font-size: 16px;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body .internal-page {  
  margin-bottom: 120px !important;
}

// Anchor 
a {
  color: $turquoise;
  &:hover, &:focus {
    color: $dark-turquoise;
  }
}

// UI header
.ui.header {
  color: $body-color;
}

.ui.header> a {
  display: inline-block;
  margin-top: .14285714em;
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}

.ui.header> a+.content {
  padding-left: .75rem;
  vertical-align: middle;
}

// Menu
.hidden.menu {
  display: none;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.menu .item a i.sidebar.icon  {
  color: $white !important;
  &:hover {
    color: $white-turquoise !important;
  }
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item  {
  text-transform: uppercase;
  color: $white !important;
  &:hover {
    color: $turquoise !important;
  }
}

.ui.secondary.inverted.pointing.menu .active.item {
  border-color: $turquoise;
  color: $turquoise !important;
}

// Menu
nav.ui.menu .item, nav.ui.menu .active.item,
nav.ui.menu .active.item:hover, nav.ui.vertical.menu .active.item:hover,
nav.ui.link.menu .item:hover, nav.ui.menu .dropdown.item:hover, nav.ui.menu .link.item:hover, nav.ui.menu a.item:hover {
  color: $white;
}

nav.ui.menu {
  background: $turquoise;
  border: 1px solid rgba(22,91,97,.15);
  box-shadow: 0 1px 2px 0 rgba(22,91,97,.15);
  .ui.dropdown > .menu {
    min-width: 200px;
    left: inherit;
    right: 0;
  }
  .ui.dropdown .ui.avatar.image {
    width: 1.4em;
    height: 1.4em;
  }
  .ui.dropdown .menu>.item {
    padding: .98571429em 1.14285714em!important;
  }
  .label.envelop {
    position: absolute;
    right: 5px;
    top: 7px;
  }
}

.homepages.landing {
  line-height: 1.9;  
}

// Masthead
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead.segment {
  min-height: 600px;
}    

.masthead {
  background: url("../images/pattern.png"), url("../images/jumbotron.jpg") !important;
  overflow: hidden;
  background-size: cover;
  h1.ui.header {
    margin-top: 2.5em;
    margin-bottom: 10px;
    font-size: 4em;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  }
  h3 {
    color: $medium-grey;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    margin-top: 0;
    margin-bottom: 60px;
  }
}

// Stripe
.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.125em !important;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.ui.vertical.stripe {
  padding: 4em 0em;
  h2 {
    color: $mid-night-blue;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 0.875em;
  }
}


// Internal page
.internal-page > .sixteen.wide.column {
  margin-right: 1rem;
}

// Sidebar 
.ui.visible.sidebar {
  width: 190px;
  background: $dark-mid-night-blue;
  border: none;
  @include transition(all .4s ease 0s);
  .item {    
    color: #d9d9d9;
    border-bottom: 1px solid $light-dark-grey;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase !important;
    height: 35px;
  }
  .active.item, .active.item:hover, .active.item:focus {
    background: $body-background-color;
    color: $dark-mid-night-blue;
  }
  .item:hover, .item:focus {
    background: $body-background-color;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: $body-color;
  }
  .item>i.icon {
    float: left; 
    margin: 0 .5em 0 0;
  }  
  .ui.segment {
    color: #d9d9d9;
  }  
  .ui.segment.account {
    border-bottom: 1px solid $light-dark-grey;
  }
  .ui.segment.account p {
    height: 18px;
  }
  .ui.segment.account .image {
    background: #ffffff;
  }    
} 

.ui.visible.sidebar.collapsed {
  width: 100px;
}

// Toggle styles
.ui.visible.sidebar.collapsed {
  span {
    visibility: collapse;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
  }
  .account p {
    visibility: collapse;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
  }
  i, span {
    position: absolute;
    left: 40px;
    @include transition(all .4s ease 0s);
  }
}

.ui.visible.sidebar {
  span {
    visibility: visible;
    opacity: 1;
    position: absolute;
    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
  }
  .account p {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
  }
}

// Steps
.ui.steps .step.active .title {
  color: inherit;
}

.steps .suitcase, .steps .cart {
  font-size: 1.2em;
}

// Breadcrump
.ui.breadcrumb .active.section {
  font-weight: 400;
}

.ui.breadcrumb a {
  color: $turquoise;
}

// Footer 
.ui.footer.segment {  
  width: 100%;
  background-color: $x-dark-mid-night-blue;
  color: $dark-medium-grey;
  padding: 5em 1em;
}

.ui.footer.segment.internal-footer {
  padding: 2em 1em;
  position: absolute;
  bottom: 0;
}

// Message
.ui.message {
  background: #ffffff;
}

// UI message
.ui.message p:last-child {
  margin-top: 0;
}

// Message
.ui.message {
  border-radius: (3px);
}

.ui.success.message {
  color: $dark-green;
  background: $white-green;
  box-shadow: 0 0 0 1px $green inset, 0 0 0 0 transparent;
}

.ui.warning.message {
  color: $dark-orange;
  background: $white-orange;
  box-shadow: 0 0 0 1px $orange inset, 0 0 0 0 transparent;
}

.ui.negative.message {
  color: $dark-red;
  background: $white-red;
  box-shadow: 0 0 0 1px $red inset, 0 0 0 0 transparent;
}

.ui.info.message {
  color: $blue;
  background: $white-blue;
  box-shadow: 0 0 0 1px $blue inset, 0 0 0 0 transparent;
}

.sixteen.wide.column.flash-message {
  padding-top: 10px;
  padding-bottom: 10px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: $red;
}

.has-error .form-control {
  border-color: $red;
  box-shadow: none;
}

.alert-dismissable .close, .alert-dismissible .close {
  top: 0; 
}

// Comments 
.ui.comments {
  max-width: inherit;
}

// footer
#footer {
  padding: 10px;
  background-color: $x-dark-mid-night-blue;
  color: $dark-medium-grey;
}

.footer-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -50px;
  height: 55px;
  padding: 7px;
}

// Authentication 
.auth-pages {
  margin-top: 5rem !important;
  .ui.header > a + .content {
    font-weight: 600;
  }
  .ui.centered.grid {
    display: grid;
  }
}

// Logo
.logo-small {
  width: 95px;
  height: 28px;
}

nav.ui.menu .item>a>img:not(.ui) {
  width: 8em;
}

nav.ui.menu .logo.item {
  width: 190px;
  padding: 5px;
}

nav.ui.menu .item>a {
  margin: 0 auto;
}

// Thumbnail
.thumbnail {
  @include border-radius(0);
}

// Segment
.ui.segments > .segment, .ui.segment, .ui.message, .ui.card, .ui.cards>.card {
  @include border-radius(3px);
  box-shadow: 0 1px 2px 0 rgba(224,224,224,1);
}

.ui.attached.segment {
  border: 1px solid $light-grey;
}

.ui.vertical.segment:first-child {
  border-bottom: none;
}

.ui.two.cards.sales, .ui.two.cards.projects {
  .card a.ui.header {
    margin-top: -20px;
  }
}

.dashboards > .ui.card {
  width: 100%;
}

.sub-header {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: $light-grey;
  margin-bottom: 10px;
}

// Progress bar
.ui.progress {
  background-color: $xx-light-grey;
  @include border-radius(2px);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ui.progress.small, .ui.small.progress .bar {
  height: 0.875em;
}

// Dropdown
.dropdown-menu {
  min-width: 180px;
}

// Description list
dl.dl-horizontal {
  dd, dt {
    padding: 2px 0;
  }
  dt {
    font-weight: bold;
  }
} 

// Label
.ui[class*="right floated"].label {
    float: right;
    margin-top: 0;
    margin-left: .5em;
}

// Custome note box
.bs-callout {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
  border-left-width: 5px;
  @include border-radius(3px);
  background-color: $white
}

.bs-callout-sm {
  padding: 10px;
  margin-bottom: 10px;
}

.bs-callout-success {
  border-left-color: $green;
  .heading {
    color: $green;
  }
}

.bs-callout-info {
  border-left-color: $blue;
  .heading {
    color: $blue;
  }
}

.bs-callout-info-colored {
  border-left-color: $blue;
  background: $white-blue;
  border-color: $blue;
  .heading {
    color: $blue;
  }
}

.bs-callout-warning {
  border-left-color: $orange;
  .heading {
    color: $orange;
  }
}

.bs-callout-warning-colored {
  border-left-color: $orange;
  background: $white-orange;
  border-color: $orange;
  .heading {
    color: $orange;
  }
}

.bs-callout-danger {
  border-left-color: $red;
  .heading {
    color: $red;
  }
}

// Modal
.ui.modal {
  >.header {
    padding: .8rem 1.5rem; 
  }
  >.actions {
    padding: 0.7rem 1rem;
  }  
}

// Custome fieldset and legend
.custom-fieldset {
  border: 1px solid $light-grey !important;
  margin: 15px 2px !important;
  padding: 0.35em 0.625em 0.75em !important;
  .custom-legend {
    width: auto;
    font-size: 13px;
    color: $body-color;
    border-bottom: none;
  }
}

// Pagination
.pagination > li > a, .pagination > li > span {
  color: $turquoise;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $turquoise;
  border-color: $dark-turquoise;
}

.pagination {
  margin: 20px 15px;
}

// Animation
.animation-delay-1 {
  @include animation-delay(.1s);
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
}

.animated {
  @include animation-duration(1s);
}

// Sprite
.sprite{
  display: inline-block;
  background: transparent url('../images/sprite.png') no-repeat; 
}

.sprite.invoice {
  height: 48px;
  width: 48px;
  background-position: left top;  
}

.sprite.sale {
  height: 48px;
  width: 48px;
  background-position: -48px top;  
}

.sprite.project {
  height: 48px;
  width: 48px;
  background-position: -96px top;  
}

.sprite.analysis {
  height: 48px;
  width: 48px;
  background-position: -142px top;  
}

.sprite.logo-one {
  height: 100px;
  width: 100px;
  background-position: -191px top;  
}

.sprite.logo-two {
  height: 100px;
  width: 100px;
  background-position: -291px top;  
}

// company logo
.company-logo {
  background: #f7f9fa;
  padding: 10px;
  margin: 0px 0 20px 0;
  text-align: center;
}

#features {
  .sprite {
    float: left;
    margin-right: 20px;
  }
  blockquote {
    overflow: hidden;
    border: none;
  }  
}

#features, #pricing {
  margin-top: 2px;
  box-shadow: 0 -1px 0 rgba(3,139,152,1);
}

#clients {
  margin-bottom: 1px;
  border-bottom: solid 1px rgba(3,139,152,1);
}

#clients, #bottom-cta, #contacts {
  box-shadow: 0 -1px 0 rgba(rgb(228,229,231),1);
}

#testimonials {
  background: url("../images/pattern.png"),url("../images/testimonials.jpg");
  .carousel-indicators {
    margin-bottom: -40px;
  }
  .carousel-indicators li {
    border: 1px solid $turquoise;
    margin-left: 5px;
  }
  .carousel-indicators .active {
    background-color: $turquoise;
  }
  .slide-item p {
    color: $turquoise;
  }
  .slide-item h5 {
    font-weight: 400;
    color: $medium-grey;
  }
  .quote.icon {
    color: $turquoise;
    font-size: 30px;
  }
}

// pricing
.pricing-plan {
  margin: 0 10px 0 10px;
  border-radius: 4px;
  padding-bottom: 20px;
  background: #fff;
  border: 1px solid #e4e5e7;
  padding-left: 0;
  list-style: none;
  li {
    font-size: 1.125em;
    line-height: 1.5;
  }
  li.pricing-title {
    background: $mid-night-blue;
    color: $white;
    padding: 15px 10px 15px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
  }
  li.pricing-desc {
    border-top: none;
    padding: 15px 16px 0px 16px;
  }
  li.pricing-price {
    font-weight: 600;
    font-size: 30px;
    color: $turquoise;
  }
  li {
    padding: 10px 15px;
    text-align: center;
    color: $x-light-dark-grey;
  }
}

.back-to-top {
  width: 40px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: none;
  background: $turquoise;
  opacity: 0.7;
  text-align: center;
  z-index: 10000;
  &:hover {
    background: $light-turquoise;
    text-decoration: none;
  }
  i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px;
    width: inherit;
  }
}

// Projects & Sales
.ui.table.projects thead th, .ui.table.sales thead th  {
  padding: .32857143em .78571429em;
}

.ui.table.tasks thead th, .ui.table.items thead th  {
  padding: .42857143em .78571429em;
}

form .ui.table tr {
  td.add-task, td.edit-task, td.add-item, td.edit-item {
    vertical-align: top;
  }
}

form .ui.table tr td.edit-task, form .ui.table tr td.edit-item {
  display: none;
  button {
    width: 50%;
  }
}

.ui.table.project td, .ui.table.sale td {
  padding: .58571429em;
}

.ui.table.task td:last-child, .ui.table.item td:last-child {
  padding-right: 10px !important;
}

// Invoices
.invoice.show {
  .ui.huge.corner {
    font-size: 1.62857143rem;
  }
  .corner p {
    font-size: 0.6em;
    margin: 23px auto 15px 15px;
    @include transform-rotate(45deg) 
  }
  .ui.header a {
    width: auto;
  }
}

/* Extra small devices (phones, less than 433px) */
@media (max-width: $screen-xs) {

}

/* Small devices (phones, 433px, and upto large phones, 768px) */
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  
}

/* Small devices (phones, less than 768px) */
@media (max-width: $screen-sm) {
  body {
    margin-bottom: 800px;
  }

  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
  .dl-horizontal {
    dt {
      float: left;
      width: 130px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    dd {
      margin-left: 150px;
    }
  }
  .ui.internal-page {
    margin-top: 100px;
    @include transition(all .4s ease 0s);
  }
  .ui.visible.sidebar {
    margin-top: 48px !important;
  }
}

/* Small medium devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm) and (max-width: $screen-md) {

}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .ui.internal-page, .ui.footer.segment.internal-footer, .ui.fixed.menu.header-breadcrumb {
    margin-left: 190px;
    @include transition(all .4s ease 0s);
  }
  .ui.internal-page.collapsed, .ui.footer.segment.internal-footer.collapsed, .ui.fixed.menu.header-breadcrumb.collapsed {
    margin-left: 100px;
  }
  .ui.fixed.menu.header-breadcrumb .right.menu {
    margin-right: 190px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {
  .ui.internal-page, .ui.footer.segment.internal-footer, .ui.fixed.menu.header-breadcrumb {
    margin-left: 190px;
    @include transition(all .4s ease 0s);
  }
  .ui.internal-page.collapsed, .ui.footer.segment.internal-footer.collapsed, .ui.fixed.menu.header-breadcrumb.collapsed {
    margin-left: 100px;
  }
  .ui.fixed.menu.header-breadcrumb .right.menu {
    margin-right: 190px;
  }
}