.name-label-elpsis-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a.item {
    flex: auto !important;
  }
  .ui.dropdown {
    padding: 5px;
  }
  div.item.delete-channel,
  div.item.delete-direct-message {
    color: $red !important;
    i {
      color: $red;
    }
  }
}
