.color-success { color: #3C763D; }
.extra-margin-top { margin-top: 40px; }

.icon-link:hover {
  text-decoration: none;
  i { color: $turquoise; }
}

.headline-top-page {
  margin-top: 30px;
}

h1 {
  line-height: 125%;
  letter-spacing: -0.2px;
}

h2 {
  line-height: 115%;
  letter-spacing: -0.2px;
}

h3 {
  line-height: 105%;
  letter-spacing: -0.2px;
}

.panel, .well {
  h1 {
    margin-top: 6px;
    margin-bottom: 22px;
  }
  h2 {
    margin-top: 4px;
    margin-bottom: 18px;
  }
  h3 {
    margin-top: 2px;
    margin-bottom: 14px;
  }
}

// Sizes
.text-bold {
  font-weight: bold !important;
}

.small-font {
  font-size: 85%;
}

// Labels
.label-success {
  background: $grass;
}

.label-info {
  background: $blue;
}

.label-warning {
  background: $orange
}

.label-danger {
  background: $red;
}

// Text
.text-primary {
  color: $turquoise;
}

.text-success {
  color: $grass;
}

.text-info {
  color: $blue;
}

.text-warning {
  color: $orange
}

.text-danger {
  color: $red;
}

.text-muted {
  color: $dark-grey;
}

.text-dark-medium-grey {
  color: $dark-medium-grey;
}

.text-x-light-dark-grey {
  color: $x-light-dark-grey;
}

// Links
a.text-info:hover, a.text-info:focus {
  color: $dark-blue;
}

a.text-success:hover, a.text-success:focus {
  color: $dark-grass;
}

a.text-warning:hover, a.text-warning:focus {
  color: $dark-orange;
}

a.text-danger:hover, a.text-danger:focus {
  color: $dark-red;
}