//Color
$black: #000000;
$white: #ffffff;

//$body-background-color: #f1f3f6;
//$body-text-color: #4a4a4a;
$body-background-color: #ecebe8;
$body-text-color: #6a6c6f;

$white-turquoise: #cce7ea;
$x-light-turquoise: #66b4bb;
$light-turquoise: #25959f;
$turquoise: #038b98;
$dark-turquoise: #165b61;

$white-grass: #d8e3b6;
$x-light-grass: #94A80D;
$light-grass: #88A60D;
$grass: #7DA40D;
$dark-grass: #619E0D;

$white-red: #ebb5b5;
$x-light-red: #BE3B0A;
$light-red: #BE220A;
$red: #be0a0a;
$dark-red: #B50921;
$x-dark-red: #AF0B34;

$dark-yellow: #FAC30A;
$yellow: #faca0a;
$light-yellow: #FAD10A;

$white-orange: #f5b47b;
$x-light-orange: #f19546;
$light-orange: #f08b34;
$orange: #F0730F;
$dark-orange: #c05c0c;

$white-blue: #d1ebf6;
$light-blue: #16AAD4;
$blue: #199CD5;
$dark-blue: #1C89D6;

$light-beige: #FFF5DD;
$beige: #ffecbf;
$dark-beige: #DAC084;

$dark-medium-grey: #b6b6b6;
$medium-grey: #cccccc;
$light-medium-grey: #d6d6d6;

$light-grey: #e0e0e0;
$x-light-grey: #ecebe8;
$xx-light-grey: #f1f1f1;
$xxx-light-grey: #f7f9fa;

$dark-grey: #3C3C3C;
$light-dark-grey: #484848;
$x-light-dark-grey: #666666;
$xx-light-dark-grey: #848484;

$x-dark-mid-night-blue: #1f2224;
$dark-mid-night-blue: #2d2f32;
$mid-night-blue: #3b3f45;
$light-mid-night-blue: #5e656e;
$x-light-mid-night-blue: #989ea7;

// Fonts

// Responsive
$screen-xxxs-max: 320px;
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;
$screen-xs-min: 480px;
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;