{
  "presets": [ "env"],
  "env": {
    "development": {
      "plugins": ["transform-object-rest-spread", "transform-runtime"]
    },
    "test": {
      "plugins": ["transform-object-rest-spread", "transform-runtime"]
    } 
  }
}