{
  "presets": ["@babel/preset-env"],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
