| Hi <strong>#{email}</strong>!
| You are invited to join account <strong style="text-transform: capitalize;">#{account}</strong> by <strong style="text-transform: capitalize;">#{inviter}</strong>. Please click this button to accept invitation and complete your sign up. 
| <a href=#{invitationLink}>Confirm email address</a>