| Hi <strong>#{firstName}</strong>!
| You've requeset for a password reset to your account. Please click the button below to proceed reseting your password.
| <a href=#{passwordResetLink}>Reset password</a>