| Hi <strong>#{firstName}</strong>!
| You've requeset for a password reset to your account <strong style="text-transform: capitalize;">#{account}</strong>. Please, click the link to proceed with reseting your password.
| <a href=#{passwordResetLink}>Reset password</a>